.m-size{
    margin-top: 120px;
}
.h1-size{
    font-size: 4em;
    /* align-items: center; */
}
/* .carousel-caption{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    
} */